<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>enfuego2</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header">
            <div class="container">
                <ul class="nav nav-pills pull-right">
                    <li class ="nav-home"><a>Home</a></li>
                    <li class ="nav-about"><a>About</a></li>
                    <li class ="nav-gal"><a>Gallery</a></li>
                </ul>
                <img class="picshare-sub-logo pull-left" src="images/picsharesublogo.png">
                <h1>PICSHARE</h1>
            </div>
        </div>
        
        <div class="img-responsive maincontent">
            <img class="img-responsive landingimage" src="images/backgroundnew.jpg">
            <div class="container">
                <div class="inputtainer avatar">
                    <span class="title">Create your avatar!</span><br>
                    <input placeholder="What will be your username?"class="user-name input-field">
                    <input placeholder="What is your email?"class="user-email input-field">
                    <input placeholder="Where are you from?"class="user-location input-field">
                    <input placeholder="What will you want your profile pic to be?"class="profile-pic input-field"><br>
                    <button class="btn avatar-submit">submit</button>
                </div>
                <div class="avatartainer">
                    <span class="title">Check it, you're apart of the revolution</span>
                    <div class="avatar-innertainer"></div>
                    <button class="gallery-button">Now Upload Photos</button>
                </div>
                <div class="inputtainer gal-img-upload">
                    <span class="title">Upload an image!</span><br>
                    <input placeholder="Upload a picture"class="user-img input-field">
                    <input placeholder="Add a caption"class="user-caption input-field"><br>
                    <button class="btn gal-submit">submit</button>
                </div>
                <div class="gallery">
                    <span class="title">Gallery</span>
                    <div class="gallerytainer">
                    </div>
                    <button class="add-another-photo pull-left">add a new photo</button>
                    <button class="gallery-finish pull-right">finished</button>
                </div>
                <div class="thank-you">
                    <span class="title">Thank you for contributing to Picshare</span><br>
                    <span class="sub-title">Come back and see us soon!</span>
                </div>
                <div class="vertically-center-div">
                    <img class="mainlogo" src="images/picsharelogowhiteshadow.png"><br>
                    <div class="start">
                        <button class="btn get-started">get started</button><br>
                        <span class="title">join the picshare revolution</span><br> 
                        <span class="sub-title">Elegant photo storage and sharing is as easy as 1-2-3-4</span>
                    </div>
                </div>
            </div>
        </div>

            <div class="footer">
                <div class="mainfoot">
                </div>
                <div class="subfooter">
                </div>
            </div>
        <script class="avatar-template" type="text/template">
             <div class="avatarbox">
                <img class="avatarimage pull-left"src="<%= avatarProfilePic %>">
                <div class="avatarinfo">
                    <span class="avatarusername">Username: <%= avatarUserName %></span><br>
                    <span class="avataremail">Email: <%= avatarEmail %></span><br>
                    <span class="avatarlocation">Location: <%= avatarLocation %></span><br>
                </div>
             </div>
        </script>


        <script class="gallery-template" type="text/template">
                <div class="gal-img-box">
                    <img class="galimg" src="<%= url %>">
                    <div class="caption">
                        <span class="imgcaption"><%= caption %></span><br>
                    </div>
                </div>       
        </script>
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/plugins.js -->
        <script src="bower_components/sass-bootstrap/js/affix.js"></script>
        <script src="bower_components/sass-bootstrap/js/alert.js"></script>
        <script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
        <script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
        <script src="bower_components/sass-bootstrap/js/modal.js"></script>
        <script src="bower_components/sass-bootstrap/js/transition.js"></script>
        <script src="bower_components/sass-bootstrap/js/button.js"></script>
        <script src="bower_components/sass-bootstrap/js/popover.js"></script>
        <script src="bower_components/sass-bootstrap/js/carousel.js"></script>
        <script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
        <script src="bower_components/sass-bootstrap/js/collapse.js"></script>
        <script src="bower_components/sass-bootstrap/js/tab.js"></script>
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
